@media screen {
    #topper {
        background-image: url(00xp-sixflags-TOP-vjkq-superJumbo.webp);
        background-size: cover;
        height: 100vh;
    }

    #content {
        width: 60vw;
        margin: auto;
    }

    .headline {
        width: 75vw;
        background-color: RGBA(95, 158, 160, 0.5);
        padding: 30px;
    }
    .fullwidth{
        padding:0px
    }
    
    h1 {
        color: white;
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 48px;
    }

    h2 {
        color: white;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
        margin: 10px;
        font-family: "DM Sans", sans-serif;
    }
    #credit {
        color: cadetblue;
        margin-top: -8px;
    }

    h4 {
        margin: auto;
        font-size: 15px;
        font-family: "DM Sans", sans-serif;
    }

    #quoter {
        font-size: 30px;
        color: cadetblue;
        margin-left: 1px;
        font-family: "DM Serif Text", serif;
    }

    #job {
        font-size: 20px;
        color: cadetblue;
        margin-top: -15px;
        margin-left: 1px;
    }
}

@media (max-width: 968px) {
    #topper {
        background-image: url(00xp-sixflags-TOP-vjkq-superJumbo.webp);
        background-size: cover;
        height: 100vh;
    }

    .headline {
        width: 80vw;
        background-color: RGBA(95, 158, 160, 0.5);
        padding: 30px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 19px;
    }

    @media (max-width: 576px) {
        #topper {
            background-image: url(00xp-sixflags-TOP-vjkq-superJumbo.webp);
            background-size: cover;
            height: 90vh;
        }

        .headline {
            width: 100vw;
            background-color: RGBA(95, 158, 160, 0.5);
            padding: 30px;
        }

    #content {
        width: 80vw;
        margin: auto;
    }
        
        h1 {
            font-size: 33px;
        }

        h2 {
            font-size: 14px;
        }
    }
}
