/* Color Pallete 
 * Red: #cf4a4a
 * Gray: #383838
 * Beige: #e7e7d8*/

.section-one {
    background-color: #383838;
    padding-bottom: 80px;
}

#navigation a {
    text-align: center;
    color: #e7e7d8;
    text-decoration: none;
    font-style: none;
    margin-top: 20px;
    margin-left: 150px;
}

#navigation a:hover {
    text-decoration: underline;
}

hr {
    border: 2px solid #cf4a4a;
    width: 100%;
    opacity: 1;
    margin-top: -40px;
}

.col-sm-7 {
    text-align: center;
}

h1 {
    font-family: "Ballet", cursive;
    font-size: 140px;
    text-align: center;
    color: #e7e7d8;
    padding-top: 120px;
    margin-bottom: 0;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 170px;
    text-align: center;
    color: #cf4a4a;
    margin-top: -50px;
}

.button {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 40px;
    background-color: #e7e7d8;
    color: #383838;
    border-radius: 20px;
    width: 500px;
    font-weight: 50;
    padding: 10px 20px;
    text-decoration: none;
}

#headshot {
    width: 90%;
    margin-top: 100px;
}

.thinner-hr {
    border: 1px solid #cf4a4a;
    width: 100%;
    opacity: 1;
    padding-left: 70px;
    margin-top: -50px;
}

#section-two {
    background-color: #e7e7d8;
    margin-bottom: 30px;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 120px;
    color: #cf4a4a;
    padding: 30px;
    margin-bottom: -20px;
}

h4 {
    font-style: normal;
    font-weight: 700;
}

h5 {
    font-style: normal;
}

h6 {
    padding-top: 20px;
}

.col-sm-4 {
    padding-left: 60px;
    margin-bottom: 60px;
    font-style: none;
}

#section-three {
    background-color: #383838;
}

#h4-beige {
    color: #e7e7d8;
    font-size: 40px;
}

#h5-beige {
    color: #e7e7d8;
}

#h6-beige {
    color: #e7e7d8;
    font-style: italic;
    padding-top: 20px;
}

.row-education {
    padding-left: 60px;
    padding-bottom: 100px;
}

#section-four {
    background-color: #e7e7d8;
}

.row-skills {
    color: #383838;
    padding-left: 60px;
    font-size: 20px;
    padding-bottom: 70px;
}

h4 {
    color: #383838;
}
h5 {
    color: #383838;
}
h6 {
    color: #383838;
}
