/* Color Pallete 
 * Red: #cf4a4a
 * Gray: #383838
 * Beige: #e7e7d8*/
    

h1 {font-family: "Ballet", cursive;
font-size: 70px;
text-align: center; 
}

h2 {font-family: "Bebas Neue", sans-serif;
font-size: 70px;
text-align: center}

button{font-family: "Bebas Neue", sans-serif}

#headshot{width: 100%
}